.header  {
  font-family: monospace;
  background: papayawhip;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.left-links ul, .right-links ul {
  display: flex;
  justify-content: flex-start;
}

.left-links ul li {
  margin-right: 8px;
}

.right-links ul li {
  margin-left: 8px;
}

ul {
  padding-left: 0px;
}