* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    height: 100vh;
    background-color: #f1f2f6;
}

button {
    background-color: #747d8c;
    border: 2px solid #57606f;
    border-radius: 7px;
    color: #eee;
}

.sidebar {
    width: 300px;
    height: 100%;
    background-color: #1e90ff;
    box-shadow: 3px 0px 6px #909090;
    flex: 0 0 auto;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.grid-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.grid-controls button {
    padding: 5px 20px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 10 1 auto;
    background-color: rgba(0, 0, 0, 0)
}

.erase-button {
    width: 200px;
    padding: 5px;
}

.content {
    width: 960px;
    height: 960px;
    border: 0px solid #AAA;
    box-shadow: 2px 2px 6px #959595;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
}

.pixel {
    transition: all 0.15s ease;
}

.pixel.transition {
    background-color: #2f3542
}