body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
}

button {
  background: white;
  border: 1px solid #eee;
}

.card {
  padding: 8px;
}

.title {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 16px;
  padding: 8px;
}

.content {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
}

.button-container {
  margin-top: 8px;
  text-align: center;
  padding: 8px;
}

button {
  display: block;
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}