body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  padding: 0px;
  margin: 0px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  margin-bottom: 0px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  padding: 0px;
  margin-left: 0px;
}

.one, .three {
  padding: 32px;
}

.one {
  margin: 12px;
}

.two {
  margin-bottom: 48px;
}

.three {
  margin-left: auto;
}