body {
    background-color: #333;
    color: #eee;
}

h1, h2 {
    color: #fff;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 100;
    font-style:italic;
    color: #fff;
}

