body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

.content, body {
  display: flex;
}

.content {
  flex: 1;
}

body {
  flex-direction: column;

}

.sidebar, .header, .footer {
  flex: 0 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 32px;
}

.header {
  display: flex;
  align-items: center;
  padding-left: 16px;
  font-size: 32px;
  font-weight: 900;
}

.footer {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.sidebar ul {
  list-style: none;
  font-size: 24px;
  color: white;
  padding-left: 16px
}

.sidebar ul li {
  padding: 10px;
}

a {
  text-decoration: none;
  color: white;
}



.card {
  width: 300px;
  margin: 12px;
  padding: 12px;
}