@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header, .footer {
  display: flex;
  justify-content: space-between
}

.footer {
  background-color: #eee;
}

.header ul, .footer ul {
  list-style: none;
  display: flex;
  margin-left: 0px;
  padding: 8px;
}

ul li {
  padding: 0px 12px
}

a {
  text-decoration: none;
  color: #333;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 8px 16px;
}