@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;400;700;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: Roboto
}

/* HEADER TOP*/

.header {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.header-top {
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

.header-top ul li a {
    color: #E5E7EB;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-container {
    width: 70%;
}

/* HEADER BOTTOM */

.header-bottom {
    display: flex;
    gap: 32px;
    padding-bottom: 120px;
}

.header-content, .header-image {
    flex: 1;
}

.header-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-text {
    font-size: 18px;
    color: #E5E7EB;
    padding: 5px 0px;
}

.header-image {
    display: flex;
    background-color: #777;
    justify-content: center;
    align-items: center;
    color: white;
}

.header-button {
    display: inline-block;
    padding: 8px 32px;
    color: white;
    background-color: #3882F6;
    border-radius: 8px;
    font-weight: 700;
}

/* INFO SECTION */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}

.info-title {
    padding: 40px;
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.info-flex {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card {
    width: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card-image {
    width: 100%;
    height: 175px;
    border: 4px solid #3882F9;
    border-radius: 15px;
}

.card-body {
    color: #1F2937;
    text-align: center;
    font-size: 18px;
}

/* TESTIMONIAL */

.testimonial {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 120px 0px;
}

.testimonial-text {
    margin: auto;
    width: 60%;
    font-weight: 100;
    font-style: italic;
    font-size: 36px;
}

.testimonial-author {
    width: 60%;
    margin: auto;
    font-weight: 700;
    text-align: right;
    font-size: 24px;
}

/* CALL TO ACTION */

.calltoaction {
    padding: 120px 0px;
}

.call-modal {
    margin: auto;
    width: 70%;
    height: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    background-color: #3882F6;
}

.call-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.call-title {
    font-size: 24px;
    color: white;
    font-weight: 900;
}

.call-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.call-button {
    display: inline-block;
    padding: 8px 32px;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
}

/* FOOTER */

.footer {
    text-align: center;
    background-color: #1F2937;
    color: white;
    font-size: 18px;
    padding: 20px 0px;
}