* {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    font-size: 20px;
}

.device {
    width: 500px;
    height: 700px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
}

.screen {
    background-color: white;
    border: 1px solid black;
    height: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formula {
    width: 100%;
    height: 50%;
    font-size: 20px;
    padding: 10px;
}

.current-input {
    font-size: 40px;
    width: 90%;
    height: 50%;
    text-align: right;
    padding: 10px;
}

.clear-controls {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 90px;
}

.clear-controls button {
    height: 100%;
    width: 30%;
}


.key-row {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.key-row button {
    width: 20%;
    height: 100%;
}