.odd {
    background-color: #ff5050;
    font-family: Verdana, 'DejaVu Sans', 'sans-serif';
}

#two {
    color: #5070ff;
    font-size: 36px;
}

.three {
    font-size: 24px;
}

#four {
    background-color: #2ecc71;
    font-size: 24px;
    font-weight: bold;
}